.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mainPane{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 96.5vh;
  margin: 0px 5px;
}

.titlePane{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px;
  padding: 0px 5px;
  background-color: blue;
  color: white;
  box-shadow: 0px 3px 3px gray;
  /* border-bottom:  2px solid black; */
}

.titlePane h2{
  font-weight: normal;
  flex: 9;
}

.listPane{
  flex: 9;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
}

.listPane::-webkit-scrollbar{
   display: none;
}

.detailPane{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
  margin: 5px;
  border: 1.5px solid black;
  border-radius: 10px;
}

.detailPane h2{
  font-weight: normal;
}

.iconStyle{
  font-size: 35px !important;
}

.iconDiv{
  flex: 1;
  padding: 20px;
}

.iconDiv:active{
  color: gainsboro;
}

.listItemDiv{
  height: 50px;
  padding: 0px 20px 20px;
  border-bottom: 1px solid grey;
}

.listItemDiv:hover,.listItemDiv.active{
  background-color: lightblue;
  color: white
}

.listItemDiv h2{
  font-weight: normal;
}